.download
	.download-box, .contact-box
		col(1/2)
		text-align center
		margin-top 200px

	.download-box
		.image
			width 208px
			height 134px

		.buttons
			margin-top 50px

			.button
				display inline-block
				margin 0 8px

				img
					vertical-align sub

				span
					set-font-size(12px)
					font-weight 600
					line-height 1.71
					letter-spacing 1.4px
					margin-left 8px

	.contact-box
		.form
			width 80%
			text-align right

			.title
				set-font-size(20px)
				font-weight bold
				line-height 1
				letter-spacing 3.4px
				color $green-one
				text-transform uppercase

			.group
				margin 10px 0

				.input, .textarea
					width 100%
					border-radius 5px
					border 2px solid $gray-three
					background-color $white
					padding 10px 15px
					color $gray-one
					set-font-size(14px)
					line-height 1.71
					letter-spacing 1.4px
