.features
	background-color $green-one

	.content
		margin-top 144px
		text-align center

		.title
			set-font-size(24px)
			font-weight bold
			line-height 1
			letter-spacing 3.4px
			text-transform uppercase
			color $white

		.feature
			width 200px
			height 160px
			background-color $white
			border-radius 5px
			box-shadow 0px 2px 5px 0 rgba(0, 0, 0, .1)
			display inline-block
			position relative
			padding 28px 0
			margin 0 20px
			margin-top 100px

			.image
				width 62px
				height 62px

			.text
				set-font-size(14px)
				font-weight 600
				line-height 1.57
				letter-spacing 2px

			.featured
				set-font-size(24px)
				font-weight 500
				line-height 1
				letter-spacing 3.4px

			.button
				margin 0
