#infos
	background-image url('../img/bkg-phoneslider.png')
	background-position bottom left !important
	background-size 421px 301px

	&.parallax
			height 50vh !important

	+below(425px)
		&.parallax
			height 100vh !important

	.content
		width 100%
		position absolute
		margin-top 100px
		// top 99vh
		// transform translateY(-99%)

		+below(425px)
			margin-top 25px

		.box
			width 50%
			float right

			.title
				set-font-size(24px)
				font-weight bold
				line-height 0.92
				letter-spacing 3.4px
				color $green-one
				text-transform uppercase
				margin-bottom 43px

			.text
				set-font-size(14px)
				line-height 1.57
				letter-spacing 2.1px
				color $gray-one
				margin-bottom 54px

		.arrows
			float right
			text-align left
			width 55%
			margin-top 200px
			margin-bottom 25px

			+below(425px)
				margin-top 280px

			.number
				set-font-size(14px)
				font-weight 800
				line-height 1.79
				letter-spacing 2.1px
				color $gray-one

			.previous
				margin-right 4px
