// .main
// 	background url('../img/bkg-hero.png') no-repeat center center fixed
// 	background-size cover
// 	position absolute
// 	width 100%
// 	height 100%

#main
	background-image url('../img/bkg-hero.png')
	background-size cover
