.main-text
	display block
	position relative
	center(100%)
	text-align center
	// margin-top 320px
	margin-top 25%

	.title
		set-font-size(40px)
		font-weight 600
		line-height 0.6
		letter-spacing 5.6px
		color $gray-two
		text-transform uppercase
