.header
	width 100%
	padding-top 19px

	.logo
		span(1/3)

		+below(425px)
			float none
			margin 0 auto

		img
			width 146px
			height 46px

	.main-menu
		span(2/3)
		text-align right

		+below(425px)
			float none
			margin 0 auto
			margin-top 20px !important
			width 100%
