// Colors

// WHITE GROUP
$white = #fff

// BLACK GROUP
$main-black = #000
$black-one = #202020

// GRAY GROUP
$gray-one = #444b54
$gray-two = #454c55
$gray-three = #acacac
$gray-four = #f1f2f2

// GREEN GROUP
$green-one = #41ceb3
$green-two = #11967d
