
<section class="download parallax" id="download" data-speed="10">
  <div class="container">
    <div class="download-box"><img class="image" src="assets/img/logo-conectus.svg" alt="Faça o download do aplicativo"/>
      <div class="buttons">
        <button class="button" type="button"><img src="assets/img/icon-apple-store.png" alt="Download do aplicativo para iOS"/><span>Download the app</span></button>
        <button class="button button-white" type="button"><img src="assets/img/icon-play-store.png" alt="Download do aplicativo para Android"/><span>Download the app</span></button>
      </div>
    </div>
    <div class="contact-box">
      <form class="form">
        <h2 class="title">quer falar com a gente?</h2>
        <div class="group">
          <input class="input" type="text" placeholder="Nome" name="nome" id="nome"/>
        </div>
        <div class="group">
          <input class="input" type="email" placeholder="E-mail" name="email" id="email"/>
        </div>
        <div class="group">
          <input class="input" type="tel" placeholder="Telefone" name="telefone" id="telefone"/>
        </div>
        <div class="group">
          <textarea class="textarea" placeholder="Mensagem" name="mensagem" id="mensagem" rows="5"></textarea>
        </div>
        <div class="group">
          <button class="button" type="button">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>