
<section class="features parallax" id="features" data-speed="10">
  <div class="container">
    <div class="content">
      <h2 class="title">as funcionalidades</h2>
      <div class="feature"><img class="image" src="assets/img/servico-1.svg" alt="Serviço 1"/>
        <p class="featured">lorem</p>
      </div>
      <div class="feature">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <button class="button" type="button">saiba mais</button>
      </div>
      <div class="feature"><img class="image" src="assets/img/servico-3.svg" alt="Serviço 3"/>
        <p class="featured">lorem</p>
      </div>
      <div class="feature"><img class="image" src="assets/img/servico-4.svg" alt="Serviço 4"/>
        <p class="featured">lorem</p>
      </div>
    </div>
  </div>
</section>