
<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="redes">
        <h1 class="title">conectus nas redes</h1>
        <div class="icons">
          <ul>
            <li><img src="assets/img/icon-black-facebook.png" alt="Conectus no Facebook"/></li>
            <li><img src="assets/img/icon-black-twitter.png" alt="Conectus no Twitter"/></li>
            <li><img src="assets/img/icon-black-instagram.png" alt="Conectus no Instagram"/></li>
            <li><img src="assets/img/icon-black-youtube.png" alt="Conectus no YouTube"/></li>
            <li><img src="assets/img/icon-black-whatsapp.png" alt="Conectus no WhatsApp"/></li>
            <li><img src="assets/img/icon-black-skype.png" alt="Conectus no Skype"/></li>
          </ul>
        </div>
      </div>
      <div class="endereco">
        <p>rua nossa senhora de copacabana, </p>
        <p>1355 - sala 2 - copacabana</p>
        <p>rio de janeiro</p>
        <p>olar@conectus.com • +55 21 99999-9922</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="copyright">
      <div class="logo"><img class="image" src="assets/img/logo-conectus.svg" alt="Todos os direitos reservados a Conectus"/></div>
      <p class="text">- 2018</p>
    </div>
  </div>
</footer>