
<section class="infos parallax" id="infos" data-speed="10">
  <div class="container">
    <div class="content">
      <div class="box item-1">
        <h2 class="title">lorem 1</h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="box item-2">
        <h2 class="title">lorem 2</h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="box item-3">
        <h2 class="title">lorem 3</h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="arrows">
        <p class="number">01/03</p><a class="previous" href="#"><img src="./assets/img/fa-angle-left.png"/></a><a class="next" href="#"><img src="./assets/img/fa-angle-right.png"/></a>
      </div>
    </div>
  </div>
</section>