section.features.parallax#features(data-speed='10')
	.container
		.content
			h2.title as funcionalidades
			
			.feature
				img.image(src='assets/img/servico-1.svg', alt='Serviço 1')
				p.featured lorem
				
			.feature
				p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit
				button(type='button').button saiba mais
					
			.feature
				img.image(src='assets/img/servico-3.svg', alt='Serviço 3')
				p.featured lorem
						
			.feature
				img.image(src='assets/img/servico-4.svg', alt='Serviço 4')
				p.featured lorem
