footer.footer
	.container
		.content
			.redes
				h1.title conectus nas redes
			
				.icons
					ul
						li
							img(src='assets/img/icon-black-facebook.png', alt='Conectus no Facebook')
						
						li
							img(src='assets/img/icon-black-twitter.png', alt='Conectus no Twitter')
								
						li
							img(src='assets/img/icon-black-instagram.png', alt='Conectus no Instagram')
								
						li
							img(src='assets/img/icon-black-youtube.png', alt='Conectus no YouTube')
								
						li
							img(src='assets/img/icon-black-whatsapp.png', alt='Conectus no WhatsApp')
								
						li
							img(src='assets/img/icon-black-skype.png', alt='Conectus no Skype')
			
			.endereco
				p rua nossa senhora de copacabana, 
				p 1355 - sala 2 - copacabana
				p rio de janeiro
				p olar@conectus.com • +55 21 99999-9922
		
		.clearfix
		.copyright
			.logo
				img.image(src='assets/img/logo-conectus.svg', alt='Todos os direitos reservados a Conectus')
			
			p.text - 2018
