section.infos.parallax#infos(data-speed='10')
	.container
		.content
			.box.item-1
				h2.title lorem 1
				p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			
			.box.item-2
				h2.title lorem 2
				p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			
			.box.item-3
				h2.title lorem 3
				p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				
			.arrows
				p.number 01/03
					
				a.previous(href='#')
					img(src='./assets/img/fa-angle-left.png')
						
				a.next(href='#')
					img(src='./assets/img/fa-angle-right.png')
