section.main.parallax#main(data-speed='15')
	div.container
		header.header
			.logo
				img(src='assets/img/logo-conectus.svg', alt='Logotipo da Conectus')
		
			.main-menu
				include ./menu.pug
				
		.main-text
			h1.title lorem ipsum dolor sit
			button(type='button').button saiba mais
			
		div.arrow
			a(href='#about')
				img(src='assets/img/arrow-alt-circle-down.png', alt='Ir para a próxima seção')
			
